---
interface Props {
  lang: string;
}
const { lang } = Astro.props;

import { sheets, tequilas } from '../translate/tequilas';
const text = lang === 'es' ? sheets.es : sheets.en;
---

<section class="Tequilas" id="our-tequilas">
  <h2
    class="text-center text-title-xs md:text-title text-[#969696] mb-8 lg:mb-[5.520833333333333vw] tracking-[10px] uppercase"
  >
    {text.title}
  </h2>
  <div class="Tequilas__grid container3 mx-auto">
    {
      tequilas.map((item, index) => (
        <div class={`item item-${index}`}>
          <img
            class="mb-[20px]"
            src={`/img/${item.src}.png`}
            alt={`Tequila ${item.name}`}
          />
          <h3 class="font-Kohinoor font-bold uppercase text-center text-xl md:text-[1.927vw] leading-[1em] text-[#868686]">
            Tequila <br />
            {item.name}
          </h3>
          <div class="buttons-container">
            <a href={`/${item.src}.pdf`} target="_blank" download>
              <img
                class="btn-ts"
                src={`/img/${text.btn}.png`}
                alt={item.name}
              />
            </a>
            <a href={item.instagram} target="_blank">
              <img class="btn-icon" src="/img/instagram.svg" alt="" />
            </a>
          </div>
        </div>
      ))
    }
  </div>
  <div class="footer-tequila">
    <div class="icon-container c-left">
      <img
        src="/img/ara-sello.svg"
        alt="ARA Certification"
        class="icon-cert as"
      />
      <img src="/img/k.svg" alt="kosher Certification" class="icon-cert k" />
      <img src="/img/ara.svg" alt="Certifications" class="icon-cert ara" />
    </div>
    <div class="icon-container c-right">
      <img src="/img/nom.svg" alt="NOM" class="icon-cert nom" />
      <img src="/img/1424.svg" alt="1424" class="icon-cert num" />
      <img src="/img/crt.svg" alt="crt" class="icon-cert crt" />
    </div>
  </div>
</section>
